<template>
     <!-- Spinner -->
     <div class="backdrop" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>
    <h4 class="head_new">Documents Certificate</h4>
    <div style="width:80%; height:500;" class="slds-align_absolute-center">
        <a class="slds-p-around_small" style="float: right;" href={downloadLink}>Create Document</a>
    </div>
</template>